@import 'tailwindcss';

@theme {
  --font-base: 'Nunito', sans-serif;
  --font-titulo: 'Arimo', sans-serif;

  /* Shadow */
  --shadow-PM: 2px 2px 0px var(--color-turquoise-300);

  /* Neutral */
  --color-neutral-100: #ffffff;
  --color-neutral-200: #e8e8e8;
  --color-neutral-300: #d2d2d2;
  --color-neutral-400: #bbbbbb;
  --color-neutral-500: #a4a4a4;
  --color-neutral-600: #8e8e8e;
  --color-neutral-700: #777777;
  --color-neutral-800: #606060;
  --color-neutral-900: #4a4a4a;

  /* Oxford Blue */
  --color-oxfordblue-100: #799bea;
  --color-oxfordblue-200: #3669e0;
  --color-oxfordblue-300: #1b47ad;
  --color-oxfordblue-400: #102c6a;
  --color-oxfordblue-500: #061027;

  /* Risd Blue */
  --color-risdblue-100: #b1c9ff;
  --color-risdblue-200: #6494fe;
  --color-risdblue-300: #165efe;
  --color-risdblue-400: #0143d4;
  --color-risdblue-500: #012f96;

  /* Turquoise */
  --color-turquoise-100: #aff5e9;
  --color-turquoise-200: #5fecd2;
  --color-turquoise-300: #1ad6b4;
  --color-turquoise-400: #14a68c;
  --color-turquoise-500: #0e7664;

  /* Celeste */
  --color-celeste-100: #c6f7ed;
  --color-celeste-200: #89eeda;
  --color-celeste-300: #4be6c6;
  --color-celeste-400: #1dceaa;
  --color-celeste-500: #149178;

  /* Black Olive */
  --color-blackolive-100: #43413f;

  /* Seasalt */
  --color-seasalt-100: #f7f6f5;

  /* Timberwolf */
  --color-timberwolf-100: #d5d2cf;
}

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.woff2') format('woff2');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}
