---
import logo from '@/assets/svg/logo_sin_fondo.svg';
---

<nav class="top-0 z-50 mx-auto hidden w-full place-items-center gap-3 pt-2 md:fixed lg:grid">
  <div
    class="flex h-[55px] w-[30%] min-w-[470px] items-center justify-between rounded-xl bg-oxfordblue-500/85 p-[6px] text-[14px] font-normal text-neutral-100 2xl:h-[75px] 2xl:text-[16px]"
  >
    <a
      href="/"
      title="Logo Planifica Mejor"
      aria-label="Logo Planifica Mejor"
      class="size-[48px] 2xl:size-[67px]"
    >
      <img src={logo.src} alt="Logo Planifica Mejor" />
    </a>
    <div class="flex h-full flex-1 items-center justify-evenly">
      <a
        class="relative cursor-pointer text-center transition-all duration-200 before:absolute before:-bottom-0.5 before:h-[2px] before:w-0 before:bg-turquoise-300 before:transition-all before:duration-500 hover:text-turquoise-300 hover:before:w-full"
        href="/#quien_soy"
        data-target="quien_soy"
        aria-label="Link a sección Quien Soy"
        title="Link a sección Quien Soy"
      >
        Quien soy
      </a>
      <a
        class="relative cursor-pointer text-center transition-all duration-200 before:absolute before:-bottom-0.5 before:h-[2px] before:w-0 before:bg-turquoise-300 before:transition-all before:duration-500 hover:text-turquoise-300 hover:before:w-full"
        href="/#servicios"
        data-target="servicios"
        aria-label="Link a sección Servicios"
        title="Link a sección Servicios"
      >
        Servicios
      </a>

      <a
        class="relative cursor-pointer text-center transition-all duration-200 before:absolute before:-bottom-0.5 before:h-[2px] before:w-0 before:bg-turquoise-300 before:transition-all before:duration-500 hover:text-turquoise-300 hover:before:w-full"
        href="/#contacto"
        data-target="contacto"
        aria-label="Link a sección Contacto"
        title="Link a sección Contacto"
      >
        Contacto
      </a>
    </div>
    <div class="flex h-full items-center justify-center">
      <a
        class="flex h-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-turquoise-300 bg-neutral-50 px-3 font-semibold text-turquoise-400 transition-all duration-500 hover:scale-[98%] 2xl:px-4"
        href="https://wa.me/5401151325016?text=Hola Cristian, quiero agendar una reunion con vos."
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link a Whatsapp de Planifica Mejor"
        title="Link a Whatsapp de Planifica Mejor"
      >
        <p class="">Agenda tu cita</p>
      </a>
    </div>
  </div>
</nav>
