---

---

<span class="absolute bottom-0 left-1/2 mb-[2px] w-full -translate-x-1/2">
  <p class="z-50 text-center text-[8px] font-thin text-seasalt-100 opacity-50 sm:text-xs">
    Desarrollado por
    <a
      class="z-30 cursor-pointer font-medium"
      aria-label="Link al Github de JM-Dev"
      href="https://github.com/JM-Dev-ARG"
      target="_blank"
      title="Link al Github de JM-Dev"
    >
      JM-DEV
    </a>
    / <a
      class="z-30 cursor-pointer font-medium"
      href="https://panambi.net/"
      target="_blank"
      title="Link a la Agencia Panambi">Agencia Panambi</a
    >
  </p>
</span>
