---
interface Props {
  texto: string;
  href?: string;
}
const { texto, href } = Astro.props;
---

<a
  class="urlDestino flex h-full cursor-pointer flex-col items-center justify-center rounded-lg bg-neutral-50 px-3 py-4 text-2xl font-semibold text-neutral-900 transition-all duration-500 hover:scale-[98%] 2xl:px-6"
  href={href ? href : ''}
>
  <p>{texto}</p>
</a>
