---
interface Props {
  texto: string;
  href?: string;
  className?: string;
}
const { texto, href, className } = Astro.props;
---

<a
  class=`${className ? className : ''} flex h-full cursor-pointer flex-col items-center justify-center rounded-lg bg-neutral-50 px-2 py-3 text-lg lg:text-2xl font-semibold text-neutral-900 transition-all duration-500 hover:scale-[98%] 2xl:px-6`
  href={href ? href : ''}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Link a Whatsapp de Planifica Mejor"
  title="Link a Whatsapp de Planifica Mejor"
>
  <p>{texto}</p>
</a>
