---

---

<div class="w-[200px] h-[200px] flex flex-col items-center justify-center relative gap-6 px-3">
  <div class="h-full aspect-square rounded-br-full rounded-t-full bg-oxfordblue-300 relative">
    <p>1980</p>
    <div
      class="absolute bottom-2 right-2 h-full aspect-square rounded-br-full rounded-t-full border-[4px] border-turquoise-200"
    >
    </div>
  </div>
  <div>
    <p class="text-center font-semibold text-2xl">lorem ipsum dolor si amet</p>
    <p class="text-center font-light text-xl">
      Lorem ipsum dolor sit amet consectetur. Mollis in in blandit mattis. Rhoncus quam tempus cras
    </p>
  </div>
</div>
