---
import quotes from '@/assets/svg/quote.svg';
interface Props {
  nombre: string;
  comentario: string;
}

const { nombre, comentario } = Astro.props;
---

<div
  class="relative flex h-[340px] w-[250px] flex-col items-center justify-center gap-3 rounded-tl-4xl rounded-br-4xl border-2 border-oxfordblue-300 p-3 text-center text-balance sm:h-[280px] sm:w-[400px]"
>
  <img src={quotes.src} alt="comillas" class="absolute -top-[12%] left-4 w-1/4 rotate-180" />
  <p class="font-titulo text-xl font-semibold text-oxfordblue-300 italic">{nombre}</p>
  <p>{comentario}</p>
  <img src={quotes.src} alt="comillas" class="absolute right-4 -bottom-[12%] w-1/4" />
</div>
