---

---

<div class="relative flex w-[200px] flex-col items-center justify-center gap-6 px-3">
  <div
    class="relative mx-auto grid aspect-square h-[100px] place-items-center rounded-t-full rounded-br-full bg-oxfordblue-300"
  >
    <p>1980</p>
    <div
      class="absolute right-1 bottom-1 aspect-square h-full rounded-t-full rounded-br-full border-[2px] border-turquoise-200"
    >
    </div>
  </div>
  <div>
    <p class="text-center text-2xl font-semibold">lorem ipsum dolor si amet</p>
    <p class="text-center text-xl font-light">
      Lorem ipsum dolor sit amet consectetur. Mollis in in blandit mattis. Rhoncus quam tempus cras
    </p>
  </div>
</div>
