---
import dataPremios from '@/data/premios.json';
import CardPremios from '@/components/base-components/CardPremios.astro';
---

<div
  class="mx-auto grid h-auto grid-cols-1 place-items-center gap-x-12 gap-y-6 sm:grid-cols-2 lg:my-12 lg:grid-cols-4 xl:gap-16"
>
  {dataPremios.map((item) => <CardPremios titulo={item.titulo} descripcion={item.descripcion} />)}
</div>
