---
import imgPremio from '@/assets/mock/premio.png';
---

<div
  class="grid h-auto grid-cols-2 place-items-center items-center justify-center gap-12 sm:grid-cols-4 lg:max-h-[200px]"
>
  <img
    src={imgPremio.src}
    alt=""
    class="aspect-square h-[100px] object-cover transition-all duration-300 ease-linear lg:h-[150px] lg:grayscale-100 lg:hover:grayscale-0"
    data-aos="fade-up"
    data-aos-delay="200"
  />
  <img
    src={imgPremio.src}
    alt=""
    class="aspect-square h-[100px] object-cover transition-all duration-300 ease-linear lg:h-[150px] lg:grayscale-100 lg:hover:grayscale-0"
    data-aos="fade-up"
    data-aos-delay="300"
  /><img
    src={imgPremio.src}
    alt=""
    class="aspect-square h-[100px] object-cover transition-all duration-300 ease-linear lg:h-[150px] lg:grayscale-100 lg:hover:grayscale-0"
    data-aos="fade-up"
    data-aos-delay="400"
  /><img
    src={imgPremio.src}
    alt=""
    class="aspect-square h-[100px] object-cover transition-all duration-300 ease-linear lg:h-[150px] lg:grayscale-100 lg:hover:grayscale-0"
    data-aos="fade-up"
    data-aos-delay="500"
  />
</div>
