---
import imgPremio from '@/assets/mock/premio.png';
---

<div
  class="grid h-[200px] max-h-[200px] w-full grid-cols-2 place-items-center items-center justify-center gap-12 lg:grid-cols-4"
>
  <img src={imgPremio.src} alt="" class="aspect-square h-[200px] object-cover" />
  <img src={imgPremio.src} alt="" class="aspect-square h-[200px] object-cover" />
  <img src={imgPremio.src} alt="" class="aspect-square h-[200px] object-cover" />
  <img src={imgPremio.src} alt="" class="aspect-square h-[200px] object-cover" />
</div>
<div class="flex h-[200px] w-full items-center justify-center bg-amber-600 bg-clip-text">
  <p class="relative text-[200px] font-black text-transparent">1500</p>
</div>
