---
import imgFondo from '@/assets/svg/logo_sin_fondo.svg';
---

<div class="flex w-full items-center justify-between">
  <div class="">
    <img
      src={imgFondo.src}
      alt=""
      class="aspect-square h-[70%] w-[70%] object-contain object-top"
    />
    <p class="text-5xl font-black text-oxfordblue-500">Empresas</p>
  </div>
  <div> </div>
</div>
