---
import imgFondo from '@/assets/svg/logo_sin_fondo.svg';
import Subrayado from './Subrayado.astro';
import BotonContacto from './BotonContacto.astro';
---

<div
  class="my-16 flex w-full items-center justify-between sm:flex-col sm:gap-8 xl:flex-row xl:gap-0"
>
  <div class="mx-auto grid h-full place-items-center">
    <h3 class="relative inline-flex text-5xl font-black text-oxfordblue-500" aria-label="Empresas"
      >EM
      <span class="w-[80px]"></span>
      RESAS
      <Subrayado />
      <img
        src={imgFondo.src}
        alt=""
        class="absolute -bottom-6 left-[45px] -z-10 w-[163.33px] object-cover object-top"
      />
    </h3>
  </div>
  <div class="empresas__container flex w-full items-center justify-between gap-4 xl:px-6">
    <div class="empresas__card">
      <div class="card__content_normal">
        <h3 class="titulo text-5xl font-bold text-seasalt-100">Directivos</h3>
        <p class="texto__normal text-lg font-light text-pretty text-seasalt-100"
          >Lorem ipsum dolor sit amet consectetur. Mollis in in blandit mattis. Rhoncus quam tempus
          cras
        </p>
        <p class="texto__expandido text-lg font-light text-pretty text-seasalt-100"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni mollitia, a beatae
          perspiciatis, voluptate voluptatem voluptatibus vitae odit, voluptas dolore quos illo quis
          numquam minima eius facere aperiam illum ratione?Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Magni mollitia, a beatae perspiciatis, voluptate voluptatem voluptatibus
          vitae odit, voluptas dolore quos illo quis numquam minima eius facere aperiam illum
          ratione?</p
        >
        <div class="texto__expandido">
          <BotonContacto texto="Comencemos" />
        </div>
      </div>
    </div>
    <div class="empresas__card">
      <div class="card__content_normal">
        <h3 class="titulo text-5xl font-bold text-seasalt-100">Directivos</h3>
        <p class="texto__normal text-lg font-light text-pretty text-seasalt-100"
          >Lorem ipsum dolor sit amet consectetur. Mollis in in blandit mattis. Rhoncus quam tempus
          cras
        </p>
        <p class="texto__expandido text-lg font-light text-pretty text-seasalt-100"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni mollitia, a beatae
          perspiciatis, voluptate voluptatem voluptatibus vitae odit, voluptas dolore quos illo quis
          numquam minima eius facere aperiam illum ratione?Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Magni mollitia, a beatae perspiciatis, voluptate voluptatem voluptatibus
          vitae odit, voluptas dolore quos illo quis numquam minima eius facere aperiam illum
          ratione?</p
        >
      </div>
    </div>
    <div class="empresas__card">
      <div class="card__content_normal">
        <h3 class="titulo text-5xl font-bold text-seasalt-100">Retiro Colectivo</h3>
        <p class="texto__normal relative text-lg font-light text-pretty text-seasalt-100"
          >Lorem ipsum dolor sit amet consectetur. Mollis in in blandit mattis. Rhoncus quam tempus
          cras
          <p
            class="texto__normal top-1/2 left-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 text-lg font-light text-pretty text-seasalt-100"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni mollitia, a beatae
            perspiciatis, voluptate voluptatem voluptatibus vitae odit, voluptas dolore quos illo
            quis numquam minima eius facere aperiam illum ratione?Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Magni mollitia, a beatae perspiciatis, voluptate
            voluptatem voluptatibus vitae odit, voluptas dolore quos illo quis numquam minima eius
            facere aperiam illum ratione?</p
          >
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .empresas__card {
    min-width: 60px;
    flex: 1;
    transition: all 0.5s linear;
    cursor: pointer;
    height: 400px;
    background: var(--color-oxfordblue-500);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-turquoise-200);
    border-radius: 24px;
    overflow: hidden;

    .card__content_normal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 10px;
      padding: 24px;
      text-align: center;
      height: 100%;
      transition: inherit;

      .titulo {
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: inherit;
        transform: rotate((0deg));
      }

      .texto__normal {
        transition: inherit;
        transition-behavior: allow-discrete;
      }

      .texto__expandido {
        opacity: 1;

        transition-behavior: allow-discrete;
      }
    }
  }

  .empresas__container:has(.empresas__card:hover) .empresas__card:not(:hover) {
    flex: 0;
    border-radius: 60px;
  }
  .empresas__container:has(.empresas__card:hover)
    .empresas__card:hover
    .card__content_normal
    .texto__normal {
    animation: animar_texto_salida 0.5s linear forwards;
  }
  .empresas__container:has(.empresas__card:hover)
    .empresas__card:hover
    .card__content_normal
    .texto__expandido {
    animation: animar_texto_entrada 0.5s linear 0.5s forwards;
    transition-delay: 0.5s; /* display: flex; */
  }

  .empresas__container:has(.empresas__card:hover)
    .empresas__card:not(:hover)
    .card__content_normal
    .texto__normal {
    animation: animar_texto_salida 0.2s linear forwards;
  }
  .empresas__container:has(.empresas__card:hover)
    .empresas__card:not(:hover)
    .card__content_normal
    .titulo {
    height: 100%;
    transform: rotate(-90deg);
    font-size: 32px;
    text-wrap: nowrap;
  }

  @keyframes animar_texto_salida {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /* 
  @keyframes animar_texto_entrada {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      display: flex;
    }
  } */
</style>
