---
import Subrayado from './Subrayado.astro';
import imgFondo from '@/assets/svg/logo_sin_fondo.svg';
---

<div class="mt-12 grid w-full place-items-center lg:hidden">
  <div class="mx-auto grid w-full place-items-center">
    <h3
      class="relative inline-flex text-2xl font-black text-oxfordblue-500 lg:text-5xl"
      aria-label="Empresas"
      ><span class="w-[40px]"></span><img
        src={imgFondo.src}
        alt=""
        class="absolute -bottom-3 -left-[12px] z-10 w-[80px] object-cover object-top"
      />ERSONAS
      <Subrayado />
    </h3>
  </div>
  <div> </div>
</div>
