---
import imgFondo from '@/assets/svg/logo_sin_fondo.svg';
import Subrayado from './Subrayado.astro';
import dataEmpresas from '@/data/serviciosEmpresas.json';
import EmprsasCardWeb from './EmpresasCardWeb.astro';
import EmpresasCardWeb from './EmpresasCardWeb.astro';
---

<div
  class="my-16 flex w-full items-center justify-between sm:flex-col sm:gap-8 xl:flex-row xl:gap-0"
>
  <div class="mx-auto grid h-full place-items-center">
    <h3 class="relative inline-flex text-5xl font-black text-oxfordblue-500" aria-label="Empresas"
      >EM
      <span class="w-[80px]"></span>
      RESAS
      <Subrayado />
      <img
        src={imgFondo.src}
        alt=""
        class="absolute -bottom-6 left-[45px] -z-10 w-[163.33px] object-cover object-top"
      />
    </h3>
  </div>

  <EmpresasCardWeb />
</div>
