---
import imgFondo from '@/assets/svg/logo_sin_fondo.svg';
import Subrayado from './Subrayado.astro';
import EmpresasCardWeb from './EmpresasCardWeb.astro';
import EmpresasCardMovil from './EmpresasCardMovil.astro';
---

<div
  class="my-24 flex w-full flex-col items-center justify-between gap-6 xl:my-16 xl:flex-row xl:gap-0"
>
  <div class="mx-auto grid h-full place-items-center">
    <h3
      class="relative inline-flex text-3xl font-black text-oxfordblue-500 sm:text-5xl"
      aria-label="Empresas"
      >EM
      <span class="w-[50px] sm:w-[80px]"></span>
      RESAS
      <Subrayado />
      <img
        src={imgFondo.src}
        alt=""
        class="absolute -bottom-4 left-7 -z-10 w-[100px] object-cover object-top sm:-bottom-6 sm:left-[45px] sm:w-[163.33px]"
      />
    </h3>
  </div>

  <EmpresasCardWeb />
  <EmpresasCardMovil />
</div>
