---
import Carrousel from '@/components/base-components/Carrousel.astro';
import Container from '@/components/base-components/Container.astro';
import Titulo from '@/components/base-components/Titulo.astro';

import dataImg from '@/data/logosEmpresas.json';
---

<Container id="empresas_respaldo">
  <Titulo titulo="Me respaldan" />

  <!-- <Carrousel classSlider="gap-4">
    {
      dataImg.map((item) => (
        <div class="flex h-24 w-[200px] items-center justify-center p-4 grayscale transition duration-300 ease-in-out hover:grayscale-0">
          <img src={item.img} alt={item.alt} class="max-h-full max-w-full object-contain" />
        </div>
      ))
    }
  </Carrousel> -->

  <div class="my-10 grid w-full grid-cols-2 place-items-center gap-4 sm:w-[80%] lg:grid-cols-3">
    {
      dataImg.map((item) => (
        <div class="flex h-[120px] w-full items-center justify-center rounded-br-3xl p-4 shadow-PM transition duration-300 ease-in-out">
          <img src={item.img} alt={item.alt} class="w-[60%] object-contain" />
        </div>
      ))
    }
  </div>
</Container>
