---
import logoCompacto from '@/assets/svg/logo_compacto.svg';
import logoSolo from '@/assets/svg/logo_sin_fondo.svg';
import logoNombre from '@/assets/logos/logo_nombre.avif';
import Subrayado from '@/components/base-components/Subrayado.astro';
---

<section
  id="hero"
  class="before:conten-[''] before:right-o relative flex h-[620px] w-full items-start justify-end overflow-hidden text-blackolive-100 before:absolute before:top-[70px] before:left-16 before:-z-10 before:h-full before:w-full before:bg-[url('../assets/mock/hero-claro.avif')] before:bg-contain before:bg-no-repeat before:opacity-30 sm:right-0 sm:h-[730px] sm:before:top-0 lg:left-0 lg:h-dvh lg:items-center lg:before:bg-right-top lg:before:opacity-100"
>
  <div class="flex h-full flex-col items-center justify-end lg:h-auto lg:items-start">
    <h1
      class="w-full place-items-center sm:w-[70%] lg:w-[65%] xl:w-[70%]"
      data-aos="fade-right"
      data-aos-delay="100"
    >
      <img
        src={logoCompacto.src}
        alt="Logotipo Planifica Mejor compacto"
        class="w-[90%] object-contain lg:hidden"
      />
      <div class="flex w-full items-center justify-start">
        <img
          src={logoSolo.src}
          alt="Logotipo Planifica Mejor"
          class="hidden w-[30%] object-contain object-center lg:block 2xl:w-[40%]"
        />
        <img
          src={logoNombre.src}
          alt="Logotipo Planifica Mejor- palabras"
          class="-ml-16 hidden object-contain lg:block lg:w-[75%] xl:w-[70%]"
        />
      </div>
    </h1>
    <div
      class="w-full place-items-center px-5 text-center sm:mt-0 sm:ml-3 lg:w-[65%] lg:text-left xl:ml-12 2xl:w-[70%]"
    >
      <h2
        class="w-full font-titulo text-3xl leading-7 font-bold tracking-wider sm:w-[80%] sm:text-4xl sm:leading-9 lg:w-full lg:text-5xl lg:leading-12 xl:text-5xl xl:leading-12 2xl:text-7xl 2xl:leading-[72px]"
        data-aos="fade-right"
        data-aos-delay="300"
      >
        ¡Tu Libertad Financiera está a
        <span class="subrayado relative inline-flex italic">
          1 CLICK
          <Subrayado />
        </span> de distancia!
      </h2>
      <p
        class="pt-4 text-sm tracking-wider text-oxfordblue-400 sm:text-lg lg:text-xl"
        data-aos="fade-right"
        data-aos-delay="500"
      >
        Cada decisión financiera debe ser clara, estratégica y alineada con tus sueños. Te acompaño
        a través de mi asesoramiento personalizado para ahorrar, invertir y crecer con estabilidad y
        confianza
      </p>
    </div>
  </div>
</section>

<script>
  document.addEventListener('astro:page-load', () => {
    const subrayado = document.querySelector('.subrayado') as HTMLElement;
    if (!subrayado) return;

    const cantidadLetras = subrayado.textContent.trim().length;
    subrayado.style.width = `calc(${cantidadLetras}ch+20px)`;
  });
</script>
