---
import imgHero from '@/assets/mock/fondo_hero.avif';
import logoCompleto from '@/assets/logos/logo_completo.avif';
import logoCompacto from '@/assets/svg/logo_compacto.svg';
---

<section
  id="hero"
  class="flex h-dvh w-full items-start justify-center bg-contain bg-right-bottom bg-no-repeat text-blackolive-100 sm:bg-cover sm:bg-[right_-100px_bottom] lg:items-center lg:bg-contain lg:bg-right-bottom"
  style={`background-image: url(${imgHero.src})`}
>
  <div class="mt-20 flex h-full flex-col sm:mt-12 lg:mt-0 lg:h-auto">
    <h1 class="w-full sm:w-[60%] lg:w-[65%] xl:w-[70%]">
      <picture>
        <source
          srcset={logoCompacto.src}
          type="image/svg+xml"
          media="(min-width: 430px) and (max-width: 1023px)"
          class="w-[30%] object-contain"
        />
        <img
          src={logoCompleto.src}
          alt="Planifica Mejor"
          class="h-full w-full object-contain object-center"
        />
      </picture>
    </h1>
    <div
      class="-mt-6 w-full px-5 text-center sm:mt-0 sm:ml-3 sm:w-[70%] sm:text-left lg:w-[60%] xl:ml-12 xl:w-[55%]"
    >
      <h2
        class="font-titulo text-3xl leading-7 font-bold tracking-wider sm:text-4xl sm:leading-9 lg:text-5xl lg:leading-12 xl:text-6xl xl:leading-14"
      >
        Lorem ipsum dolor, sit amet
        <span class="subrayado relative inline-flex italic">
          consecteasda
          <span
            class="absolute bottom-0 -left-1.5 -z-10 h-[15px] w-[calc(100%+0.5rem)] -skew-x-[25deg] bg-turquoise-200 sm:h-[18px] lg:h-[24px] xl:h-[30px]"
          >
          </span>
        </span>
      </h2>
      <p class="pt-4 text-sm tracking-wider text-oxfordblue-400 sm:text-base lg:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, corrupti consectetur
        dolorem commodi sit ratione amet! Magni earum, adipisci illum delectus facilis
        necessitatibus facere praesentium repellat soluta voluptate placeat tenetur?
      </p>
    </div>
  </div>
</section>

<script>
  document.addEventListener('astro:page-load', () => {
    const subrayado = document.querySelector('.subrayado') as HTMLElement;
    if (!subrayado) return;

    const cantidadLetras = subrayado.textContent.trim().length;
    subrayado.style.width = `calc(${cantidadLetras}ch+20px)`;
  });
</script>
