---
import Container from '@/components/base-components/Container.astro';
import imgQuienSoy from '@/assets/img/quien_soy.avif';
import imgFondo from '@/assets/svg/logo_sin_fondo.svg';
import ContainerHitos from '@/components/base-components/ContainerHitos.astro';
import Premios from '@/components/base-components/Premios.astro';
import Numeros from '@/components/base-components/Numeros.astro';
---

<Container id="quien_soy">
  <div class="relative flex h-auto w-full flex-col items-center justify-center gap-16 px-3">
    <div class="mt-3 flex h-auto w-full flex-col items-center justify-center gap-6 lg:flex-row">
      <img
        src={imgFondo.src}
        alt=""
        class="absolute top-1/2 left-1/2 -z-10 h-full w-full -translate-x-1/2 -translate-y-1/2 object-contain object-center opacity-[6%]"
      />
      <div
        class="relative aspect-square w-[80%] rounded-t-full rounded-br-full bg-[#676c79] shadow-2xl sm:w-[60%] lg:w-[40%]"
        data-aos="fade-right"
      >
        <img
          src={imgQuienSoy.src}
          alt=""
          class="aspect-square h-full w-full overflow-hidden rounded-t-full rounded-br-full object-cover object-center"
        />
        <div
          class="absolute right-2 bottom-2 aspect-square h-full rounded-t-full rounded-br-full border-[4px] border-turquoise-200"
        >
        </div>
      </div>
      <div
        class="flex w-[90%] flex-1 flex-col items-center justify-center gap-3 text-center text-pretty lg:w-full lg:items-start lg:text-left"
      >
        <p
          class="text-2xl font-semibold text-risdblue-400 lg:text-3xl xl:text-4xl"
          data-aos="fade-left"
          data-aos-delay="200"
        >
          Soy Cristian De Benedetto. <br /> Planificador financiero especialista en seguros.
        </p>
        <div
          class="flex flex-col items-center justify-center gap-1 font-light text-blackolive-100 lg:items-start lg:text-base xl:text-xl"
        >
          <p data-aos="fade-left" data-aos-delay="400">
            Desde mis inicios como futbolista retirado hasta convertirse en Licenciado en
            Periodismo, descubrí que mi verdadera pasión está en las finanzas y el acompañamiento a
            personas para que logren su independencia económica. En 2019 me formé como Productor
            Asesor de Seguros, y desde entonces me he especializado en planificación financiera
            integral.
          </p>
          <p data-aos="fade-left" data-aos-delay="600">
            Mi misión es ayudarte a convertir tus objetivos financieros —ya sean proteger tu
            patrimonio, emprender, planificar tu retiro o alcanzar libertad económica— en realidades
            concretas, con transparencia y profesionalismo.
          </p>
        </div>
      </div>
    </div>
    <!-- <ContainerHitos /> -->
    <Premios />
    <Numeros />
  </div>
</Container>
